/*********** COLORS ***********/
/*********** HEADERS ***********/
.topbar-info {
  background-color: #00295B;
  color: white;
  font-size: 14px;
  border-bottom: 3px solid #000;
  height: 30px; }
  .topbar-info .list-inline-item {
    padding-right: 20px; }
  .topbar-info i {
    padding-right: 3px; }
  .topbar-info a {
    color: #fff; }

.navbar {
  background-color: #fff !important;
  border-bottom: 1px solid #00295B;
  padding: 0;
  height: 100px;
  z-index: 1; }
  .navbar .navbar-brand {
    display: contents; }
    .navbar .navbar-brand img {
      width: 130px;
      height: 110px; }
  .navbar .nav-item {
    font-size: 0.95rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 1em; }
    .navbar .nav-item a {
      color: #000 !important;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transition: ease 0.2s; }
    .navbar .nav-item a:hover {
      border-top: 2px solid #000;
      border-bottom: 2px solid #000; }

/*********** CHOOSE US SECTION ***********/
.choose-us i {
  font-size: 40px; }

/*********** JOB EXAMPLES SECTION ***********/
.job-examples {
  background-color: rgba(247, 127, 0, 0.5); }
  .job-examples img {
    border-radius: 3px; }

/*********** CONTACT SECTION ***********/
.contact-section h2 {
  color: white; }

.contact-section .contact-info {
  background-image: url("../assets/images/contact-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 375px; }
  .contact-section .contact-info .contact {
    color: #fff;
    font-size: 18px;
    font-weight: 400; }
    .contact-section .contact-info .contact a {
      color: white;
      text-decoration: underline; }

.contact-section .submit {
  background-color: #00295B; }

/*********** FOOTER ***********/
footer .navbar {
  border-bottom: none; }
