/*********** COLORS ***********/

$blue: #00295B;
$light-red: #D62828;
$orange: #F77F00;
$light-yellow: #FCBF49;
$dutch-white: #EAE2B7;

/*********** HEADER ***********/
 
.topbar-info {
    background-color: $blue;
    color: white;
    font-size: 14px;
    border-bottom: 3px solid #000;
    height: auto;
    
    .list-inline-item {
        padding-right: 20px;
    }
    
    i {
        padding-right: 3px;
    }
    
    a {
        color: #fff;
    }
}
 
.navbar {
    background-color: #fff !important;
    border-bottom: 1px solid $blue;
    padding-top: 0;
    height: 100px;
    z-index: 1;
    .navbar-brand {
        display: contents;
        
        img {
            width: 130px;
            height: 110px;
        }
        
    }
    
    .nav-item {
        font-size: 0.95rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 1em;
        
        
        a {
            // color: #000 !important;
            // border-top: 2px solid #fff;
            // border-bottom: 2px solid #fff;
            // transition: ease 0.2s;
            position: relative;
        }
        
        a::after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '.';
            color: transparent;
            background: $orange;
            height: 2px;
            transition: all .5s;
        }
        
        a:hover::after {
            // border-top: 2px solid #000;
            // border-bottom: 2px solid #000;
            width: 100%; 
        }
    }
}

@media (max-width: 991.98px) {
    header {
        .navbar {
            .nav-item {
                margin: 0 15px;
            }
            .nav-link {
                background-color: #fff;
            }
            .navbar-nav {
                margin-bottom: 10px;
            }
        }
    }
}

/*********** CAROUSEL ***********/

.carousel-item {
    img {
        width: 100%;
        min-width: 100%;
        height: 70vh;
    }
}

@media (max-width: 767.98px) {
    .carousel-item {
        img {
            width: 100%;
            min-width: 100%;
            height: 40vh;
        }
    }
}


/*********** CHOOSE US SECTION ***********/

.choose-us {
    i {
        font-size: 40px;
    }
}

/*********** JOB EXAMPLES SECTION ***********/

.logo-slider {
    background-color: $blue;
    img {
        padding: 30px;
    }
}

/*********** CONTACT SECTION ***********/

.contact-section {
    h2 {
        color: white;
    }
    .contact-info {
        background-image: url("../assets/images/contact-filter.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        .contact {
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 0;
            padding: 5px;
            a {
                color: white;
                text-decoration: underline;
            }
        }
        
    }
    .submit {
        background-color: $blue;
    }
}

/*********** FOOTER ***********/

footer {
    img {
        min-width: 110px;
    }
    .navbar {
        border-bottom: none;
    }
    p {
        margin-bottom: 0 !important;
        padding: 3px;
        background-color: $blue;
        color: $dutch-white;
    }
}